body {
  background-color: #231F20;
  color: white; }
  body h3 {
    font-family: "Julius Sans One", sans-serif; }

.logo {
  font-family: "Covered By Your Grace", cursive;
  display: flex; }
  @media only screen and (max-width: 800px) {
    .logo {
      transition: all 1s; }
      .logo img {
        width: 100px; } }

.header {
  background-image: url(../img/surfvintage.jpeg);
  background-image: no-repeat;
  background-size: cover;
  height: 100vh; }

a {
  text-decoration: none;
  color: white; }

.navigation {
  display: flex;
  align-content: center;
  justify-content: center; }

.nav-list {
  display: flex;
  list-style: none;
  transition-duration: .05s; }
  .nav-list li {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around; }

.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.sub-title {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2em; }

.sub-title h1 {
  font-size: 3em;
  font-family: "Covered By Your Grace", cursive;
  margin: 0; }

.navigation2 {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #231F20; }
  .navigation2 .nav-list2 {
    display: flex;
    list-style: none;
    flex-direction: row; }
    .navigation2 .nav-list2 ul {
      width: 120px;
      height: 50px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .navigation2 .nav-list2 ul li {
        display: flex;
        align-items: center;
        padding-right: 20%;
        font-family: "Julius Sans One", sans-serif; }

.gallery {
  width: 100%;
  height: 100%;
  transition: all; }
  .gallery h2 {
    font-size: 3.5em;
    font-family: "Covered By Your Grace", cursive;
    text-align: center;
    text-decoration-style: dotted; }

.row1 {
  display: flex;
  flex-flow: row;
  flex: initial;
  width: 100%; }
  @media only screen and (max-width: 940px) {
    .row1 {
      flex-flow: wrap; } }

.surfreport {
  background-image: url("../img/surfrocks.jpeg");
  width: 50%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 940px) {
    .surfreport {
      width: 100%; } }

.surfreport:hover {
  transform: scale(1.1); }

.editorial {
  background-image: url("../img/surfbarrel.jpeg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 940px) {
    .editorial {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.editorial:hover {
  transform: scale(1.1); }

.shops {
  background-image: url("../img/surfsand.jpeg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 940px) {
    .shops {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.shops:hover {
  transform: scale(1.1); }

.row2 {
  display: flex;
  flex-flow: row;
  transition: all .5s; }
  @media only screen and (max-width: 940px) {
    .row2 {
      flex-flow: wrap; } }

.camping {
  background-image: url("../img/surftent.jpg");
  width: 25%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 940px) {
    .camping {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.camping:hover {
  transform: scale(1.1); }

.organizations {
  background-image: url("../img/surfopsurf.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 940px) {
    .organizations {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.organizations:hover {
  transform: scale(1.1); }

.about {
  background-image: url("../img/surffootprints.jpeg");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 50vh;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 940px) {
    .about {
      display: flex;
      flex-flow: row wrap;
      width: 100%; } }

.about:hover {
  transform: scale(1.1); }

.contents {
  background-color: #EEEEEE; }
  .contents h2, .contents p {
    color: #231F20; }
  .contents h3 {
    font-family: "Julius Sans One", sans-serif;
    color: #231F20;
    padding-top: 30px; }

.reports-content {
  text-align: center; }
  .reports-content .links {
    display: flex;
    justify-content: center; }
  .reports-content img {
    padding: 40px; }
  .reports-content #img1 {
    padding-top: 100px; }
  .reports-content #img3 {
    padding-top: 60px; }

.gear-content {
  text-align: center; }
  .gear-content img {
    padding: 40px; }

.blog-content {
  text-align: right;
  display: flex;
  justify-content: center;
  margin: 80px; }
  .blog-content h3 {
    padding-right: 50px; }
  .blog-content img {
    padding: 10px; }

.camping-content {
  text-align: right;
  display: flex;
  justify-content: center;
  margin: 80px; }
  .camping-content h3 {
    padding-left: 50px; }
  .camping-content img {
    padding: 10px; }

.organizations-content {
  text-align: center; }
  .organizations-content .links {
    display: flex;
    justify-content: center; }
  .organizations-content p {
    font-family: "Open Sans Condensed", sans-serif; }

.about-content {
  padding: 50px;
  text-align: center; }
  .about-content #img {
    border-radius: 50%;
    width: 30%; }
  .about-content #email {
    font-family: "Open Sans Condensed", sans-serif; }

/*# sourceMappingURL=style.css.map */
