body {
  background-color: white;
  color: white; }

.logo {
  font-family: "Lora", serif;
  display: flex; }
  @media only screen and (max-width: 1000px) {
    .logo {
      display: none;
      transition: all 1s; } }

.header {
  background-image: url(../image/img1.jpg);
  background-image: no-repeat;
  background-size: cover;
  height: 100vh; }

a {
  text-decoration: none;
  color: white; }

.navigation {
  display: flex;
  align-content: center;
  justify-content: center; }

.nav-list {
  display: flex;
  list-style: none;
  transition-duration: .05s; }
  .nav-list li {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around; }

.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.enjoy {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 2em; }

.enjoy h1 {
  font-size: 4em;
  font-family: "Lora", serif;
  margin: 0; }

button {
  position: absolute;
  top: 90%;
  left: 45%;
  background-color: #f57505;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 16px 31px;
  text-decoration: none;
  font-family: "Pathway Gothic One", sans-serif;
  border: none; }

.navigation2 {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: gray; }
  .navigation2 .nav-list2 {
    display: flex;
    list-style: none;
    flex-direction: row; }
    .navigation2 .nav-list2 ul {
      width: 120px;
      height: 50px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .navigation2 .nav-list2 ul li {
        display: flex;
        align-items: center;
        padding-right: 20%;
        font-family: "Pathway Gothic One", sans-serif; }

.gallery {
  width: 100%;
  height: 100%;
  transition: all; }

.row1 {
  display: flex;
  flex-flow: row;
  flex: initial;
  width: 100%; }
  @media only screen and (max-width: 940px) {
    .row1 {
      flex-flow: wrap; } }

.raft {
  background-image: url("../image/img2.jpg");
  width: 50%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 940px) {
    .raft {
      width: 100%; } }

.raft:hover {
  transform: scale(1.1); }

.tent {
  background-image: url("../image/img3.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 940px) {
    .tent {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.tent:hover {
  transform: scale(1.1); }

.hike {
  background-image: url("../image/img4.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 940px) {
    .hike {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.hike:hover {
  transform: scale(1.1); }

.row2 {
  display: flex;
  flex-flow: row;
  transition: all .5s; }
  @media only screen and (max-width: 940px) {
    .row2 {
      flex-flow: wrap; } }

.canoe {
  background-image: url("../image/img5.jpg");
  width: 25%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 940px) {
    .canoe {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.canoe:hover {
  transform: scale(1.1); }

.photo {
  background-image: url("../image/img6.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 940px) {
    .photo {
      display: flex;
      flex-flow: row wrap;
      width: 50%; } }

.photo:hover {
  transform: scale(1.1); }

.wagon {
  background-image: url("../image/img7.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 50vh;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 940px) {
    .wagon {
      display: flex;
      flex-flow: row wrap;
      width: 100%; } }

.wagon:hover {
  transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */
