// font-family: 'Poiret One', cursive;
// font-family: 'Julius Sans One', sans-serif;

// font-family: 'Covered By Your Grace', cursive;
// font-family: 'Monoton', cursive;

$lgfont:  'Covered By Your Grace', cursive;
$medfont: 'Julius Sans One', sans-serif;
$smfont: 'Open Sans Condensed', sans-serif;

body{
  background-color:#231F20;
  color:white;
  h3{
    font-family: $medfont;
  }
}

.logo{
  font-family: $lgfont;
  display:flex;

  @media only screen and (max-width:800px){
    // display:none;
    img{
      width:100px;
    }


    transition:all 1s;
  }

}
.header{
   background-image: url(../img/surfvintage.jpeg);
   background-image: no-repeat;
   background-size:cover;
   height:100vh;
}
a{
  text-decoration:none;
  color:white;
}
.navigation{
  display:flex;
  align-content:center;
  justify-content: center;
}
.nav-list {
  display: flex;
  list-style: none;

  li {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  transition-duration: .05s;
}
.title{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}
.sub-title{
  font-family: $medfont;
  font-size:2em;
}

.sub-title h1{
  font-size: 3em;
  font-family:$lgfont;
  margin:0;
}

.navigation2{
  display:flex;

  align-content:center;
  justify-content: center;
  background-color:#231F20;

  .nav-list2{
    display: flex;
    list-style: none;
    flex-direction:row;

  ul {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
      display: flex;
      align-items:center;
      padding-right:20%;

      font-family: $medfont;
    }

    }
  }
}
.gallery{

  width:100%;
  height:100%;
  transition: all;
  h2{
    font-size: 3.5em;
    font-family: $lgfont;
    text-align: center;
    text-decoration-style: dotted;
  }
}

// .gallery-img:hover {
//   opacity: .8;
//   cursor: pointer;
//   transition-timing: ease-in-out;
// }

.row1{
  display:flex;
  flex-flow: row;
  flex:initial;
  width:100%;

  @media only screen and (max-width:940px){
    flex-flow:wrap;
  }

}
.surfreport{
  background-image: url('../img/surfrocks.jpeg');
  width:50%;
  height:50vh;
  background-size: cover;
  background-position: center;
  transition: all .5s ease-in-out;
  display:flex;
  align-items: center;
  justify-content:center;

  @media only screen and (max-width: 940px){
    width:100%;
  }
}
.surfreport:hover {
  transform: scale(1.1);
}
.editorial{
  background-image: url("../img/surfbarrel.jpeg");
  background-position: center;
    background-size: cover;
  width:25%;
  height:50vh;
  transition: all .5s ease-in-out;
  display:flex;
  align-items: center;
  justify-content:center;

  @media only screen and (max-width:940px){
    display:flex;
    flex-flow: row wrap;
    width:50%;
  }

}
.editorial:hover {
  transform: scale(1.1);
}
.shops{
  background-image: url("../img/surfsand.jpeg");
  background-position: center;
  background-size: cover;
  width:25%;
  height:50vh;
  transition: all .5s ease-in-out;
  display:flex;
  align-items: center;
  justify-content:center;

  @media only screen and (max-width:940px){
    display:flex;
    flex-flow: row wrap;
    width:50%;
  }
}
.shops:hover {
  transform: scale(1.1);
}
.row2{
  display:flex;
  flex-flow:row;
  transition: all .5s;
  @media only screen and (max-width:940px){
    flex-flow:wrap;
  }
}
.camping{
  background-image: url('../img/surftent.jpg');
  width:25%;
  height:50vh;
  background-size: cover;
  background-position: center;
  transition: all .5s ease-in-out;
  display:flex;
  align-items: center;
  justify-content:center;

  @media only screen and (max-width:940px){
    display:flex;
    flex-flow: row wrap;
    width:50%;
  }
}
.camping:hover {
  transform: scale(1.1);
}
.organizations{
  background-image: url("../img/surfopsurf.jpg");
  background-position: center;
    background-size: cover;
  width:25%;
  height:50vh;
  transition: all .5s ease-in-out;
  display:flex;
  align-items: center;
  justify-content:center;

  @media only screen and (max-width:940px){
    display:flex;
    flex-flow: row wrap;
    width:50%;
  }

}
.organizations:hover {
  transform: scale(1.1);
}
.about{
  background-image: url("../img/surffootprints.jpeg");
  background-position: center;
  background-size: cover;
  width:50%;
  height:50vh;
  transition: all .5s ease-in-out;
  display:flex;
  align-items: center;
  justify-content:center;

  @media only screen and (max-width:940px){
    display:flex;
    flex-flow: row wrap;
    width:100%;
  }
}
.about:hover {
  transform: scale(1.1);
}
.contents{
    background-color:#EEEEEE;

  h2,p{
    color:#231F20;
  }
  h3{
    font-family: $medfont;
    color:#231F20;
    padding-top:30px;
  }
}

.reports-content{
  text-align:center;
  .links{
    display:flex;
    justify-content:center;
  }
  img{
    padding:40px;
  }
  #img1{
    padding-top:100px;
  }
  #img3{
    padding-top:60px;
  }
}
.gear-content{
  text-align:center;
  img{
    padding:40px;
  }
}
.blog-content{
  text-align:right;
  display:flex;
  justify-content:center;
  margin:80px;
  h3{
    padding-right:50px;
}
  img{
    padding:10px;
  }
}
.camping-content{
  text-align:right;
  display:flex;
  justify-content:center;
  margin:80px;
  // background-color:#EEEEEE;
  h3{
    padding-left:50px;
}
  img{
    padding:10px;
  }
}
.organizations-content{
  text-align:center;
  .links{
    display:flex;
    justify-content:center;
  }
  p{
    font-family: $smfont;
  }

}
.about-content{
  padding:50px;
  text-align: center;
  #img{
    border-radius:50%;
    width:30%;
    }
  #email{
    font-family: $smfont;
  }
}
